body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: #a08cc2;
    margin: 0;
    padding: 0;
    
}